@font-face {
  font-family: "Brotesk-_Trial_-Semibold";
  src: url(../fonts/Brotesk-_Trial_-Semibold.ttf);
  font-weight: 600;
}
@font-face {
  font-family: "TransformaMix_Trial-SemiBold";
  src: url(../fonts/TransformaMix_Trial-SemiBold.ttf);
  font-weight: 600;
}

@font-face {
  font-family: "Mustica Pro-SemiBold";
  src: url(../fonts/MusticaPro-SemiBold.ttf);
  font-weight: 600;
}
