@import "../../assets/scss/variable";


.logo {
  font-family: "Syne", sans-serif;
  font-size: 6rem;
  font-weight: 700;
  line-height: 0.6;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  padding: 20px 0;
}
