.container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
  max-width: 1440px;
  margin-right: auto;
  margin-left: auto;
  padding: 20px 0 0;

  @media screen and (max-width: 800px) {
    padding: 10px 0 0;
    gap: 60px;
  }
}
